<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.utils.Listeners"></listener>
    </listeners>
    <test name="listener-test" parallel="classes" thread-count="2">
        <classes>
            <class name="com.concepts.TestngBasics"></class>
        </classes>
    </test>
</suite>